.about-page {
  .heading {
    margin: 3rem 0;
    h1 {
      span {
        color: $mainGreen;
      }
      text-align: center;
    }
  }

  .hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    background-color: white;
    .col-1 {
      text-align: center;
    }
    .col-2 {
      margin-top: 1rem;
      display: grid;
      place-items: center;
      .img-container {
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center;
        position: relative;
        margin-bottom: 2rem;
        padding: 2rem 0 0;
        img {
          width: 90%;
          object-fit: contain;
          border-radius: 0.5rem;
          border-right: 0.5rem solid $mainGreen;
          border-bottom: 0.5rem solid $mainGreen;
        }
      }
    }
    @include breakpoint-up(large) {
      flex-wrap: nowrap;
      .col-1 {
        width: 55%;
        text-align: left;
        padding: 0 5rem;
        h1 {
          margin-bottom: 2rem;
        }
      }
      .col-2 {
        width: 45%;
        .img-container {
          width: 80%;
        }
      }
    }
  }

  .objective {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    .col-1 {
      text-align: center;
    }
    .col-2 {
      margin-top: 1rem;
      display: grid;
      place-items: center;
      .img-container {
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center;
        margin-bottom: 2rem;
        padding: 2rem;
        h2 {
          text-align: center;
        }
        img {
          width: 70%;
          object-fit: contain;
          border-radius: 0.5rem;
          margin-bottom: 2rem;
        }
      }
    }

    @include breakpoint-up(large) {
      flex-wrap: nowrap;
      .col-1 {
        width: 55%;
        text-align: left;
        padding: 0 5rem;
        order: 2;
      }
      .col-2 {
        width: 45%;
        order: 1;

        border-right: 1rem solid $mainGreen;
        .img-container {
          width: 80%;
          padding: 2rem 0 0;
          h2 {
            text-align: left;
          }
          img {
            width: 100%;
          }
        }
      }
    }
  }
  .employees {
    text-align: center;
    overflow: hidden;
    padding: 2rem 0;
    h1 {
      padding: 0 1.5rem;
    }
    hr {
      margin-bottom: 1.5rem;
    }
    h2 {
      text-align: center;
      padding: 0.5rem 1rem;
      margin-bottom: 2rem;
    }
    .employees-avatar {
      text-align: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 2.5rem;
      .img-holder {
        width: 12rem;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          top: -0.2rem;
          width: 7.5rem;
          height: 7.5rem;
          border-radius: 50%;
          left: 50%;
          transform: translateX(-50%);
          background-color: $mainGreen;
          z-index: -1;
        }
        img {
          width: 75%;
          object-fit: contain;
        }
        p {
          text-align: center;
          height: 3rem;
        }
      }
    }
    @include breakpoint-up(large) {
      padding-top: 5rem;
      padding-bottom: 3rem;
      hr {
        margin-bottom: 1.5rem;
      }
      // padding: 3rem 5rem;
      h2 {
        max-width: 80rem;
        margin: 0 auto;
        margin-bottom: 4rem;
      }
      .employees-avatar {
        gap: 3.5rem;
        .img-holder {
          img {
            width: 80%;
          }
        }
      }
    }
  }

  .happy-clients {
    display: grid;
    place-items: center;
    margin: 5rem 0;
    padding: 2rem 0;
    background-color: rgb(212, 212, 212);
  }
}
