.career-page {
  .heading {
    margin: 3rem 0;
    h1 {
      span {
        color: $mainGreen;
      }
      text-align: center;
    }
  }

  .career-form {
    margin-top: 3rem;
    margin-bottom: 5rem;
    h1 {
      margin-bottom: 1rem;
    }
    form {
      text-align: center;
      .contact-btn {
        font-size: 1.6rem;
        width: 100%;
        padding: 1rem 0;
      }

      .inp-grp-file {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2rem;
        height: 5rem;
        border-radius: 0.5rem;
        font-size: 1.8rem;
        padding: 0 1.5rem;
        color: $otherSubHeading;
        border: 0.2rem solid rgb(207, 207, 207);
        label {
          display: none;
        }
        &:focus {
          border: 0.2rem solid $mainGreen;
        }
      }
    }

    @include breakpoint-up(large) {
      margin-top: 5rem;
      text-align: center;
      h1 {
        margin-bottom: 3rem;
      }
      form {
        margin: 0 auto;
        width: 60%;
        .contact-btn {
          font-size: 1.8rem;
          width: 70%;
        }
        .inp-grp-file {
          margin-bottom: 3rem;
        }
      }
    }
  }

  .frequently-asked {
    background-color: whitesmoke;
    padding: 3rem 0;
    margin-bottom: 5rem;
  }
}
