.home {
  width: 100%;

  .hero-section {
    width: 90vw;
    max-width: 124rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 2rem;
    .col-1 {
      width: 100%;
      height: 100%;
    }
    .col-2 {
      width: 100%;
      height: 100%;
      text-align: center;
      p {
        font-size: $fs-sm;
        margin-bottom: 0.5rem;
      }

      h2 {
        margin-bottom: 2rem;
      }
      .cta {
        width: 20rem;
        height: 4rem;
        font-size: 1.6rem;
      }
    }
    @include breakpoint-up(medium) {
    }
    @include breakpoint-up(large) {
      width: 100%;

      flex-direction: row;
      align-items: center;
      max-height: 70rem;
      .col-1 {
        width: 50%;
        height: 100%;
      }
      .col-2 {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        padding: 0 2rem;
        text-align: left;

        p {
          font-size: $fs-def;
          margin-bottom: 01rem;
        }
        h1 {
          font-size: 5rem;
        }
        h2 {
          font-size: $fs-xlg;
        }
        .cta {
          width: 20rem;
          height: 4.5rem;
          font-size: 1.8rem;
        }
      }
    }
  }

  .why-us {
    text-align: center;
    padding: 3rem 1rem;
    background-color: $BGSecondary;
    overflow: hidden;
    .cards {
      margin: 2rem 1rem;
      display: flex;
      flex-direction: column;

      gap: 2rem 0;
      hr {
        border: 0.1rem solid $mainGreen;
      }
      .single-card {
        padding: 3rem 0 5rem 0;
        background-color: #fff;
        border-radius: 1rem;
        box-shadow: 0.05px 1px 5px rgba($color: #000000, $alpha: 0.2);

        .card-icon {
          font-size: 3rem;
          color: $mainGreen;
        }
        h1 {
          font-size: 2rem;
        }
        p {
          font-size: 1.5rem;
          padding: 0 1rem;
        }
      }
    }
    @include breakpoint-up(medium) {
      h1 {
        font-size: 2.5rem;
      }
      p {
        margin: 0 auto;
        max-width: 80%;
      }
      .cards {
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: row;
        .single-card {
          flex-basis: 31%;
          h1 {
            font-size: 1.8rem;
          }
        }
      }
    }
    @include breakpoint-up(large) {
      h1 {
        font-size: 4rem;
      }
      hr {
        margin-bottom: 3rem;
      }
      p {
        margin-bottom: 5rem;
      }
      .cards {
        .single-card {
          flex-basis: 30%;
          justify-content: space-evenly;

          .card-icon {
            font-size: 3.5rem;
          }
          h1 {
            font-size: 2rem;
          }
          p {
            font-size: 1.8rem;
          }
        }
      }
    }
  }

  .our-services {
    text-align: center;
    padding: 2rem 1rem;

    .cards-services {
      margin: 2rem 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 2rem 0;
      .card {
        cursor: pointer;
        background-color: lightgreen;
        // background-color: white;
        padding: 1rem 0;
        border-radius: 1rem;
        text-transform: capitalize;
        box-shadow: 0 0 0.3rem rgba($color: #000000, $alpha: 0.7);
        transition: $tran200ms;
        &:hover {
          box-shadow: 0 0 0.3rem rgba($color: #000000, $alpha: 1);
          background-color: rgba(144, 238, 144, 0.5);
        }
        h1 {
          font-size: 1.7rem;
          font-weight: 400;
          margin: 0;
        }
      }
    }
    @include breakpoint-up(medium) {
      .cards-services {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        .card {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 1rem 2rem;
          flex-basis: 45%;
        }
      }
    }
    @include breakpoint-up(medium) {
      hr {
        margin-bottom: 2rem;
      }
      p {
        margin-bottom: 3rem;
      }
      .cards-services {
        .card {
          flex-basis: 45%;
          height: 10rem;
        }
      }
    }
    @include breakpoint-up(large) {
      hr {
        margin-bottom: 2rem;
      }
      p {
        margin-bottom: 3rem;
      }
      .cards-services {
        .card {
          flex-basis: 30%;
          height: 10rem;
        }
      }
    }
  }

  .employees {
    text-align: center;
    padding: 2rem 0;
    h1 {
      padding: 0 1.5rem;
    }
    hr {
      margin-bottom: 3rem;
    }
    p {
      text-align: center;
      padding: 0.5rem 1rem;
      margin-bottom: 2rem;
    }
    .employees-avatar {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 2rem 0;
      .img-holder {
        width: 10rem;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          top: 0;
          width: 7rem;
          height: 7rem;
          border-radius: 50%;
          left: 50%;
          transform: translateX(-50%);
          background-color: $mainGreen;
          z-index: -1;
        }
        img {
          width: 80%;
          object-fit: contain;
        }
        p {
          text-align: center;
          height: 3rem;
        }
      }
    }
    @include breakpoint-up(large) {
      // padding: 3rem 5rem;
      p {
        max-width: 60rem;
        margin: 0 auto;
        margin-bottom: 3rem;
      }
      .employees-avatar {
        gap: 5rem;
      }
    }
  }

  .pricing {
    background-color: $BGSecondary;
    padding: 3rem 0;
    text-align: center;
    margin-bottom: 5rem;
    padding-bottom: 5rem;
    hr {
      border: 0.1rem solid $mainGreen;
    }
    .pricing-heading {
      margin-bottom: 2rem;
      padding: 1rem 3rem;
    }

    .pricing-cards {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 3rem;
      cursor: pointer;

      .single-card {
        text-align: center;
        padding: 3rem;
        background-color: white;
        position: relative;
        border-radius: 1rem;
        max-width: 30rem;
        box-shadow: 2px 1px 5px rgba($color: #000000, $alpha: 0.2);

        h1 {
          span {
            font-size: 2rem;
          }
        }
        .monthly {
          margin-bottom: 1rem;
        }
        .card-striked-text {
          margin-bottom: 3rem;
        }

        &.active {
          overflow: hidden;
          background-color: #e9edf0;
          transform: scaleY(1.02);

          &::after {
            position: absolute;
            content: "POPULAR";
            top: 1.5rem;
            left: -3.5rem;
            z-index: 5;
            background-color: $mainGreen;
            color: white;
            padding: 0.5rem 3rem;
            transform: rotate(-45deg);

            font-size: $fs-med;
            font-weight: 500;
          }
        }
      }
    }
    @include breakpoint-up(large) {
      .pricing-cards {
        .single-card {
          &.active {
            transform: scale(1.05);
          }
        }
      }
    }
  }
  .reviews {
    text-align: center;
    margin: 3rem 0;
    margin-bottom: 5rem;

    hr {
      margin-bottom: 3rem;
    }
    @include breakpoint-up(large) {
      width: 100%;
    }
  }
  .client-carousels {
    background-color: $BGSecondary;
    padding: 2rem 0;
    h1 {
      font-size: 3rem;
      font-weight: 700;
      text-align: center;
    }
    hr {
      margin-bottom: 5rem;
    }

    .clients {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-wrap: wrap;
      gap: 2rem;

      .client {
        display: grid;
        place-items: center;
        background-color: #fff;
        width: 20rem;
        height: 12rem;
        transition: $tran300ms;
        filter: grayscale(100%);
        border-radius: 1rem;
        cursor: pointer;
        box-shadow: 0px 1px 5px rgba($color: #000000, $alpha: 0.2);
        img {
          width: 10rem;
          object-fit: contain;
        }

        &:hover {
          filter: grayscale(0);
        }
      }
    }
  }
}

.back-to-top {
  position: fixed;
  bottom: 0rem;
  right: 0rem;
  z-index: 9000;
  padding: 1rem;
  background-color: $mainGreen;
  color: white;
  border: transparent;
  font-size: 2rem;
  cursor: pointer;
  transition: $tran200ms;
  &:hover {
    opacity: 0.75;
  }
}
