.portfolio-page {
  .heading {
    margin: 3rem 0;
    h1 {
      span {
        color: $mainGreen;
      }
      text-align: center;
    }
  }

  .hero {
    display: grid;
    place-items: center;
    gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-bottom: 5rem;
    article {
      position: relative;
      background-color: white;
      padding: 1rem;
      border-radius: 0.3rem;
      box-shadow: 0px 0px 5px rgba($color: #000000, $alpha: 0.3);
      cursor: pointer;
      transition: all 200ms ease;

      &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 100;
        background-color: transparent;
        transition: all 300ms ease;
      }
      &:hover {
        // box-shadow: 0px 0px 6px 3px rgba($color: #000000, $alpha: 0.3);
        &::after {
          background-color: rgba(0, 0, 0, 0.527);
        }
        .visit-btn {
          opacity: 1;
        }
      }

      img {
        object-fit: contain;
        width: 100%;
        height: 100%;
      }

      .visit-btn {
        position: absolute;
        z-index: 200;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: whitesmoke;
        font-size: 1.8rem;
        font-weight: 500;
        padding: 1rem 2rem;
        border-radius: 0.3rem;
        transition: all 300 ease;
        opacity: 0;
      }
    }
  }
}
