.carouselNew {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  .singleSlide {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: scroll;

    article {
      transition: all 0.5s linear;

      &.defaultSlide {
        transform: scale(0.5);
        opacity: 0.2;
      }
      &.currentSlide {
        opacity: 1;
        transform: scale(1);
      }
      &.nextSlide {
        opacity: 0.5;
        transform: scale(0.8);
      }
      &.prevSlide {
        opacity: 0.5;
        transform: scale(0.8);
      }
    }
  }
  .caroBtn {
  }
  .prevBtn,
  .nextBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
  }
  .prevBtn {
    left: 1rem;
  }
  .nextBtn {
    right: 1rem;
  }
}
