.footers {
  grid-area: footers;
  background-color: #003133;
  color: white;
  padding: 4rem 2rem;
  .footer-layout {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    p {
      color: rgba(207, 207, 207, 0.966);
    }
    h1 {
      color: white;

      font-size: 2.5rem;
    }
    img {
      width: 12.5rem;
      object-fit: contain;
    }
    .col-4 {
      flex-basis: 25%;
      padding: 0 1rem;
    }

    ul {
      li {
        margin: 1.5rem 0;
        color: rgba(226, 226, 226, 0.966);

        a {
          color: rgba(207, 207, 207, 0.966);
        }
      }
    }
    h3 {
      color: rgba(226, 226, 226, 0.966);

      margin-bottom: 0.5rem;
    }

    .contact-1 {
      margin-bottom: 1rem;
    }

    @include breakpoint-down(medium) {
      .col-4 {
        flex-basis: 50%;
      }
    }
    @include breakpoint-down(small) {
      justify-content: center;
      gap: 2rem 0;
      text-align: center;
      .col-4 {
        flex-basis: 100%;
      }
    }
  }
  .copyright-text {
    text-align: center;
    margin-top: 2rem;
    font-size: 1rem;
    @include breakpoint-up(large) {
      text-align: left;
      font-size: 1.5rem;
    }
  }
  .hr-line {
    width: 100%;
    height: 0.2rem;
    background-color: #002427;
    margin: 2rem 0;
  }
}
