@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes slideInRight {
  0% {
    opacity: 0;

    transform: translateX(100%);
  }
  100% {
    opacity: 1;

    transform: translateX(0%);
  }
}
@keyframes slideInTop {
  0% {
    opacity: 0;

    transform: translateY(-100%);
  }
  100% {
    opacity: 1;

    transform: translateX(0%);
  }
}
@keyframes slideInDown {
  0% {
    opacity: 0;

    transform: translateY(100%);
  }
  100% {
    opacity: 1;

    transform: translateX(0%);
  }
}
