// colors
$mainGreen: #55be65;
// primary

$BGPrimary: #fbfbfb;
$BGSecondary: #f4f5f7;
$BGFinal: #ecebfc;
$BGDark: #262626;
$Green: #55be65;

// secondary
$White: #ffffff;
$Heading: #191847;
$SubHeading: #212529;
$otherSubHeading: #49495c;

// linear gradient
$LG-green: linear-gradient(to left, #56ab2f, #a8e063);
$LG-Rgreen: linear-gradient(to left, #a8e063, #56ab2f);
// fonts-size

$fs-xsm: 1rem;
$fs-sm: 1.2rem;
$fs-med: 1.4rem;
$fs-def: 1.6rem;
$fs-lg: 1.8rem;
$fs-xlg: 2rem;

// heading font size

// font-family: 'Montserrat', sans-serif;
// font-family: 'Poppins', sans-serif;

// transitions

$tran200ms: all 200ms ease;
$tran250ms: all 250ms ease;
$tran300ms: all 300ms ease;

// opacity

$backGroundOpacity: 0.2;
