.main-navbar {
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 01rem;
  height: 7rem;

  .logo-section {
    img {
      width: 10rem;
      object-fit: contain;
    }
  }

  .menu-section {
    ul {
      display: flex;
      align-items: center;
      gap: 0 2rem;
      text-transform: capitalize;
      font-family: "Poppins", "Montserrat";
      li {
        position: relative;
        a {
          color: $SubHeading;
          display: flex;
          align-items: center;

          span {
            display: grid;
            place-items: center;
            margin-left: 0.2rem;
          }
        }
        &::after {
          content: "";
          position: absolute;
          display: block;
          top: 3rem;
          left: 0;
          width: 0%;
          height: 0.35rem;
          z-index: 1000;
          background: $mainGreen;
          opacity: 0;
          transition: $tran200ms;
        }

        &:hover {
          &::after {
            opacity: 1;
            width: 100%;
          }
        }

        .sub-menu {
          background-color: white;
          display: inline-block;
          position: absolute;
          top: 3rem;
          left: 0rem;
          z-index: 3000;
          width: 25rem;
          padding: 01rem 1rem;
          opacity: 0;
          visibility: hidden;
          transition: $tran300ms;
          li {
            // margin-bottom: 1rem;
            &:not(:last-child) {
              margin-bottom: 1rem;
            }
            &::after {
              content: "";
              position: absolute;
              display: block;
              top: 2.2rem;
              left: 0;
              width: 0%;
              height: 0.25rem;
              z-index: 1000;
              background: $mainGreen;
              opacity: 0;
              transition: $tran200ms;
            }

            &:hover {
              &::after {
                opacity: 1;
                width: 100%;
              }
              .sub-sub-menu {
                opacity: 1;
                visibility: visible;
              }
            }
            .sub-sub-menu {
              position: relative;
              width: 100%;
              opacity: 0;
              visibility: hidden;
              transition: $tran200ms;

              ul {
                position: absolute;
                display: flex;
                align-items: center;
                padding: 1rem 0;
                width: 100%;
                right: -103%;
                top: -3rem;
                display: inline-block;
                background-color: white;

                li {
                  padding: 0 1rem;
                }
              }
              &.open {
                opacity: 1;
                visibility: visible;
              }
              &:hover {
                opacity: 1;
                visibility: visible;
              }
            }
          }
          &.open {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
  }

  .cta {
    background: $mainGreen;
    transition: $tran300ms;

    &:hover {
      opacity: 0.75;
    }
  }
  .burger-container {
    user-select: none;
    .mobile-menu-btn {
      cursor: pointer;
      & > span {
        display: block;
        width: 3rem;
        height: 0.3rem;
        background-color: $mainGreen;
        transform-origin: 0.4rem 0.15rem;
        transition: $tran300ms;
        &:not(:last-child) {
          margin-bottom: 0.5rem;
        }
      }

      &.open {
        > span:first-child {
          transform: rotate(45deg);
        }

        > span:nth-child(2) {
          opacity: 0;
        }

        > span:last-child {
          transform: rotate(-45deg);
        }
      }
    }
  }

  .sidebar-menu {
    &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    user-select: none;
    position: absolute;
    top: 7rem;
    left: 0rem;
    margin: 1rem 0;
    border-radius: 1rem;
    width: 100%;
    background-color: white;
    height: fit-content;
    max-height: 85vh;
    overflow-y: scroll;
    z-index: 1000;
    transition: $tran300ms;
    opacity: 0;
    transform: translateX(-100%);
    text-transform: uppercase;
    ul {
      padding: 0.5rem 0;
      li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 3rem;
        margin: 0.5rem 0;
        border-left: 0rem solid $Green;
        transition: $tran300ms;

        .dropdown-arrow {
          cursor: pointer;
          display: grid;
          place-items: center;
          transition: all 300ms ease-in-out;
          &.open {
            transform: rotate(180deg);
          }
        }
        &:nth-child(odd) {
          background-color: rgb(247, 247, 247);
        }
        &:hover {
          background-color: $BGSecondary;
          border-left: 1rem solid $Green;
        }
        a {
          display: flex;
          align-items: center;
          span {
            display: grid;
            place-items: center;
            margin: 0 0.4rem;
          }
          text-transform: uppercase;
          font-weight: 400;
          color: $SubHeading;
        }
      }
      .subMenuMobile {
        display: none;
        &.open {
          display: block;
        }
        .sub-sub-menu-mobile {
          display: none;

          &.open {
            display: block;
          }
        }
      }
    }

    &.open {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .overlay {
    position: fixed;

    top: 7rem;
    right: 0;
    bottom: 0;
    left: 0;
    // background-color: rgba(0, 0, 0, 0.425);
    background-color: black;
    opacity: 0;
    z-index: 900;
    transition: $tran200ms;
    visibility: hidden;
    &.open {
      opacity: 0.5;
      visibility: visible;
    }
  }

  @include breakpoint-up(large) {
    .logo-section {
      img {
        width: 12.5rem;
      }
    }
  }
  @include breakpoint-up(medium) {
    .overlay {
      top: 10rem;
    }
  }
}
