.secondary-nav {
  height: 100%;
  width: 100%;
  height: 3rem;
  background-color: $BGDark;
  color: $White;
  padding: 1rem auto;
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .col-1 {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 0 2rem;

      .socials {
        border-radius: 50%;
        width: 25px;
        height: 25px;
        display: grid;
        place-items: center;
        padding: 0.2rem;
        background-color: transparent;
        cursor: pointer;
        // color: $mainGreen;
        // background-color: rgba(255, 255, 255, 0.966);

        transition: background-color 300ms ease;
        transition: all 300ms ease;
        &:hover {
          // background-color: rgba(255, 255, 255, 0.178);
          background-color: rgba(255, 255, 255, 0.15);
          color: $mainGreen;
        }

        a {
          color: inherit;
        }
      }
      p {
        color: $White;
        font-size: $fs-sm;
        display: flex;
        align-items: center;
        span {
          margin: 0 0.5rem;
          display: grid;
          place-items: center;
        }
      }
    }
  }
}
