*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", "Montserrat", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
  color: #212529;
  font-weight: 300;
  line-height: 1.3;
  height: 100vh;
  background-color: #fbfbfb;
  letter-spacing: 0.5px;
}

hr {
  margin: 0 auto;
  width: 25%;
  border: 2px solid #55be65;
  margin-bottom: 0.5rem;
}

h1 {
  margin-bottom: 1rem;
  color: #191847;
  font-weight: 600;
  font-size: 2.5rem;
}

@media (min-width: 768px) {
  h1 {
    font-size: 3.5rem;
    font-weight: 700;
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 4rem;
    font-weight: 800;
  }
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  font-weight: 300;
  color: #49495c;
}

@media (min-width: 768px) {
  h2 {
    font-size: 2rem;
    font-weight: 400;
  }
}

p {
  color: #212529;
}

.container-full {
  max-width: 144rem;
  margin: 0 auto;
  width: 100%;
}

.container {
  max-width: 124rem;
  height: 100%;
  width: 95%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    width: 90%;
  }
}

.mx-auto {
  margin: 0 auto;
}

a,
a:hover,
a:active {
  text-decoration: none;
}

ul {
  list-style: none;
}

#root {
  height: 100%;
}

.grid-container {
  margin: 0 auto;
  max-width: 192rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto auto 1fr auto;
      grid-template-rows: auto auto 1fr auto;
      grid-template-areas: "infobar" "headers" "main" "footers";
  height: 100%;
}

.infobar {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: infobar;
}

.headers {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: headers;
}

.main {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: main;
}

.footers {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: footers;
}

.flexBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flexBox.jcc {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flexBox.jcspb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flexBox.fdc {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.gridBox {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.btn {
  background: #55be65;
  color: white;
  padding: 0.8rem 2rem;
  border-radius: 1rem;
  font-weight: 500;
  font-family: "Montserrat", "Poppins";
  min-width: 13rem;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline: none;
  border: none;
  cursor: pointer;
  -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
}

@media (max-width: 765px) {
  .hide-on-mobile {
    display: none;
  }
}

@media (max-width: 1023px) {
  .hide-on-tablet {
    display: none;
  }
}

@media (min-width: 1024px) {
  .hide-on-desktop {
    display: none;
  }
}

.link-active::after {
  content: "";
  position: absolute;
  display: block;
  top: 3rem;
  left: 0;
  height: 0.35rem;
  z-index: 1000;
  background: #55be65;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  opacity: 1;
  width: 100%;
}

.slide-in-left {
  -webkit-animation: slideInLeft alternate 500ms;
          animation: slideInLeft alternate 500ms;
}

.slide-in-right {
  -webkit-animation: slideInRight alternate 500ms;
          animation: slideInRight alternate 500ms;
}

.slide-in-top {
  -webkit-animation: slideInTop alternate 500ms;
          animation: slideInTop alternate 500ms;
}

.slide-in-down {
  -webkit-animation: slideInDown alternate 500ms;
          animation: slideInDown alternate 500ms;
}

@-webkit-keyframes slideInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes slideInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@-webkit-keyframes slideInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@-webkit-keyframes slideInTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes slideInTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@-webkit-keyframes slideInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes slideInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

.loader {
  display: -ms-grid;
  display: grid;
  place-content: center;
  padding: 5rem;
  background-color: #fff;
}

.loader h1 {
  text-align: center;
}

.loader .x2-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loader .x2-logo > span {
  display: inline-block;
  width: 20px;
  height: 100px;
  background-color: green;
  -webkit-transform-origin: 10px 65px;
          transform-origin: 10px 65px;
  border-radius: 1rem;
}

.loader .x2-logo > span:first-child {
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  -webkit-animation: logoAnimex1 infinite alternate 500ms ease-in-out;
          animation: logoAnimex1 infinite alternate 500ms ease-in-out;
}

.loader .x2-logo > span:last-child {
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  -webkit-animation: logoAnimex2 infinite alternate 500ms ease-in-out;
          animation: logoAnimex2 infinite alternate 500ms ease-in-out;
}

@-webkit-keyframes logoAnimex1 {
  0% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  100% {
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }
}

@keyframes logoAnimex1 {
  0% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  100% {
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }
}

@-webkit-keyframes logoAnimex2 {
  0% {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
  100% {
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
  }
}

@keyframes logoAnimex2 {
  0% {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
  100% {
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
  }
}

.headers {
  background-color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
}

.main-navbar {
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 01rem;
  height: 7rem;
}

.main-navbar .logo-section img {
  width: 10rem;
  -o-object-fit: contain;
     object-fit: contain;
}

.main-navbar .menu-section ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 2rem;
  text-transform: capitalize;
  font-family: "Poppins", "Montserrat";
}

.main-navbar .menu-section ul li {
  position: relative;
}

.main-navbar .menu-section ul li a {
  color: #212529;
}

.main-navbar .menu-section ul li::after {
  content: "";
  position: absolute;
  display: block;
  top: 3rem;
  left: 0;
  width: 0%;
  height: 0.35rem;
  z-index: 1000;
  background: #55be65;
  opacity: 0;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.main-navbar .menu-section ul li:hover::after {
  opacity: 1;
  width: 100%;
}

.main-navbar .menu-section ul li .sub-menu {
  background-color: white;
  display: inline-block;
  position: absolute;
  top: 4rem;
  left: 0rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  opacity: 0;
}

.main-navbar .menu-section ul li .sub-menu li {
  margin-bottom: 0.75rem;
}

.main-navbar .menu-section ul li .sub-menu li::after {
  content: "";
  position: absolute;
  display: block;
  top: 2.2rem;
  left: 0;
  width: 0%;
  height: 0.25rem;
  z-index: 1000;
  background: #55be65;
  opacity: 0;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.main-navbar .menu-section ul li .sub-menu li:hover::after {
  opacity: 1;
  width: 100%;
}

.main-navbar .menu-section ul li .sub-menu.open {
  opacity: 1;
}

.main-navbar .cta {
  background: #55be65;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.main-navbar .cta:hover {
  opacity: 0.75;
}

.main-navbar .burger-container .mobile-menu-btn {
  cursor: pointer;
}

.main-navbar .burger-container .mobile-menu-btn > span {
  display: block;
  width: 3rem;
  height: 0.3rem;
  background-color: #55be65;
  -webkit-transform-origin: 0.4rem 0.15rem;
          transform-origin: 0.4rem 0.15rem;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.main-navbar .burger-container .mobile-menu-btn > span:not(:last-child) {
  margin-bottom: 0.5rem;
}

.main-navbar .burger-container .mobile-menu-btn.open > span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.main-navbar .burger-container .mobile-menu-btn.open > span:nth-child(2) {
  opacity: 0;
}

.main-navbar .burger-container .mobile-menu-btn.open > span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.main-navbar .sidebar-menu {
  position: absolute;
  top: 7rem;
  left: 0rem;
  margin: 1rem 0;
  border-radius: 0 0 1rem 1rem;
  width: 100%;
  background-color: white;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  z-index: 1000;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  opacity: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.main-navbar .sidebar-menu ul {
  padding: 2rem 0;
}

.main-navbar .sidebar-menu ul li {
  padding: 1rem 3rem;
  margin: 0.5rem 0;
  border-left: 0rem solid #55be65;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.main-navbar .sidebar-menu ul li:nth-child(odd) {
  background-color: #f7f7f7;
}

.main-navbar .sidebar-menu ul li:hover {
  background-color: #f4f5f7;
  border-left: 1rem solid #55be65;
}

.main-navbar .sidebar-menu ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-weight: 400;
  color: #212529;
}

.main-navbar .sidebar-menu ul li a span {
  display: -ms-grid;
  display: grid;
  place-items: center;
  margin: 0 0.4rem;
}

.main-navbar .sidebar-menu.open {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.main-navbar .overlay {
  position: fixed;
  top: 7rem;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  opacity: 0;
  z-index: 900;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  visibility: hidden;
}

.main-navbar .overlay.open {
  opacity: 0.5;
  visibility: visible;
}

@media (min-width: 1024px) {
  .main-navbar .logo-section img {
    width: 12.5rem;
  }
}

@media (min-width: 768px) {
  .main-navbar .overlay {
    top: 10rem;
  }
}

.secondary-nav {
  height: 100%;
  width: 100%;
  height: 3rem;
  background-color: #262626;
  color: #ffffff;
  padding: 1rem auto;
}

.secondary-nav .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.secondary-nav .navbar .col-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 0 2rem;
}

.secondary-nav .navbar .col-1 .socials {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding: 0.2rem;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.secondary-nav .navbar .col-1 .socials:hover {
  background-color: rgba(255, 255, 255, 0.15);
  color: #55be65;
}

.secondary-nav .navbar .col-1 p {
  color: #ffffff;
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.secondary-nav .navbar .col-1 p span {
  margin: 0 0.5rem;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.carouselNew {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.carouselNew .singleSlide {
  position: relative;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-x: scroll;
}

.carouselNew .singleSlide article {
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.carouselNew .singleSlide article.defaultSlide {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  opacity: 0.2;
}

.carouselNew .singleSlide article.currentSlide {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.carouselNew .singleSlide article.nextSlide {
  opacity: 0.5;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.carouselNew .singleSlide article.prevSlide {
  opacity: 0.5;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.carouselNew .prevBtn,
.carouselNew .nextBtn {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 100;
}

.carouselNew .prevBtn {
  left: 1rem;
}

.carouselNew .nextBtn {
  right: 1rem;
}

.carousels {
  width: 100%;
  height: 100%;
  max-width: 112rem;
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.carousels .slider-div {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  opacity: 0;
}

.carousels .slider-div.active {
  opacity: 1;
}

.carousels .slider-div .slider-img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.carousels .next-btn,
.carousels .prev-btn {
  position: absolute;
  top: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 2rem 0.5rem;
  border-radius: 0.5rem;
  font-size: 2rem;
  font-weight: bold;
  outline: none;
  border: none;
  cursor: pointer;
  color: white;
  background-color: rgba(0, 0, 0, 0.479);
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  z-index: 200;
}

.carousels .next-btn:hover,
.carousels .prev-btn:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.carousels .next-btn {
  right: 1rem;
}

.carousels .prev-btn {
  left: 1rem;
}

@media screen and (max-width: 760px) {
  .carousels .next-btn,
  .carousels .prev-btn {
    top: initial;
    bottom: 5rem;
    padding: 0.5rem;
    font-size: 1.5rem;
  }
  .carousels .next-btn {
    right: 40%;
  }
  .carousels .prev-btn {
    left: 40%;
  }
}

.main {
  margin: 0 auto;
  width: 100%;
}

.home {
  width: 100%;
}

.home .hero-section {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1rem 0 2rem 0;
  padding-bottom: 2rem;
}

.home .hero-section .col-1 {
  width: 100%;
  height: 100%;
  padding: 1rem;
}

.home .hero-section .col-2 {
  width: 100%;
  height: 100%;
  padding: 1rem;
  text-align: center;
}

.home .hero-section .col-2 p {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.home .hero-section .col-2 h2 {
  margin-bottom: 2rem;
}

.home .hero-section .col-2 .cta {
  width: 20rem;
  height: 4rem;
  font-size: 1.6rem;
}

@media (min-width: 1024px) {
  .home .hero-section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    max-height: 70rem;
  }
  .home .hero-section .col-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 2rem;
    text-align: left;
  }
  .home .hero-section .col-2 p {
    font-size: 1.6rem;
    margin-bottom: 01rem;
  }
  .home .hero-section .col-2 h1 {
    font-size: 5rem;
  }
  .home .hero-section .col-2 h2 {
    font-size: 2rem;
  }
  .home .hero-section .col-2 .cta {
    width: 20rem;
    height: 4.5rem;
    font-size: 1.8rem;
  }
}

.home .why-us {
  text-align: center;
  padding: 3rem 1rem;
  background-color: #f4f5f7;
}

.home .why-us .cards {
  margin: 2rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem 0;
}

.home .why-us .cards hr {
  border: 0.1rem solid #55be65;
}

.home .why-us .cards .single-card {
  padding: 3rem 0 5rem 0;
  background-color: #fff;
  border-radius: 1rem;
  -webkit-box-shadow: 0.05px 1px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0.05px 1px 5px rgba(0, 0, 0, 0.2);
}

.home .why-us .cards .single-card .card-icon {
  font-size: 3rem;
  color: #55be65;
}

.home .why-us .cards .single-card h1 {
  font-size: 2rem;
}

.home .why-us .cards .single-card p {
  font-size: 1.5rem;
  padding: 0 1rem;
}

@media (min-width: 768px) {
  .home .why-us h1 {
    font-size: 2.5rem;
  }
  .home .why-us p {
    margin: 0 auto;
    max-width: 80%;
  }
  .home .why-us .cards {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .home .why-us .cards .single-card {
    -ms-flex-preferred-size: 31%;
        flex-basis: 31%;
  }
  .home .why-us .cards .single-card h1 {
    font-size: 1.8rem;
  }
}

@media (min-width: 1024px) {
  .home .why-us h1 {
    font-size: 4rem;
  }
  .home .why-us hr {
    margin-bottom: 3rem;
  }
  .home .why-us p {
    margin-bottom: 5rem;
  }
  .home .why-us .cards .single-card {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .home .why-us .cards .single-card .card-icon {
    font-size: 3.5rem;
  }
  .home .why-us .cards .single-card h1 {
    font-size: 2rem;
  }
  .home .why-us .cards .single-card p {
    font-size: 1.8rem;
  }
}

.home .our-services {
  text-align: center;
  padding: 2rem 1rem;
}

.home .our-services .cards-services {
  margin: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem 0;
}

.home .our-services .cards-services .card {
  cursor: pointer;
  background-color: lightgreen;
  padding: 1rem 0;
  border-radius: 1rem;
  text-transform: capitalize;
  -webkit-box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.7);
          box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.7);
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.home .our-services .cards-services .card:hover {
  -webkit-box-shadow: 0 0 0.3rem black;
          box-shadow: 0 0 0.3rem black;
  background-color: rgba(144, 238, 144, 0.5);
}

.home .our-services .cards-services .card h1 {
  font-size: 1.7rem;
  font-weight: 400;
  margin: 0;
}

@media (min-width: 768px) {
  .home .our-services .cards-services {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .home .our-services .cards-services .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 1rem 2rem;
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
  }
}

@media (min-width: 768px) {
  .home .our-services hr {
    margin-bottom: 2rem;
  }
  .home .our-services p {
    margin-bottom: 3rem;
  }
  .home .our-services .cards-services .card {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
    height: 10rem;
  }
}

@media (min-width: 1024px) {
  .home .our-services hr {
    margin-bottom: 2rem;
  }
  .home .our-services p {
    margin-bottom: 3rem;
  }
  .home .our-services .cards-services .card {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    height: 10rem;
  }
}

.home .employees {
  text-align: center;
  padding: 2rem 0;
}

.home .employees h1 {
  padding: 0 1.5rem;
}

.home .employees hr {
  margin-bottom: 3rem;
}

.home .employees p {
  text-align: center;
  padding: 0.5rem 1rem;
  margin-bottom: 2rem;
}

.home .employees .employees-avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem 0;
}

.home .employees .employees-avatar .img-holder {
  width: 10rem;
  position: relative;
}

.home .employees .employees-avatar .img-holder::before {
  content: "";
  position: absolute;
  top: 0;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #55be65;
  z-index: -1;
}

.home .employees .employees-avatar .img-holder img {
  width: 80%;
  -o-object-fit: contain;
     object-fit: contain;
}

.home .employees .employees-avatar .img-holder p {
  text-align: center;
  height: 3rem;
}

@media (min-width: 1024px) {
  .home .employees p {
    max-width: 60rem;
    margin: 0 auto;
    margin-bottom: 3rem;
  }
  .home .employees .employees-avatar {
    gap: 5rem;
  }
}

.home .pricing {
  background-color: #f4f5f7;
  padding: 3rem 0;
  text-align: center;
  margin-bottom: 5rem;
  padding-bottom: 5rem;
}

.home .pricing hr {
  border: 0.1rem solid #55be65;
}

.home .pricing .pricing-heading {
  margin-bottom: 2rem;
  padding: 1rem 3rem;
}

.home .pricing .pricing-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3rem;
  cursor: pointer;
}

.home .pricing .pricing-cards .single-card {
  text-align: center;
  padding: 3rem;
  background-color: white;
  position: relative;
  border-radius: 1rem;
  max-width: 30rem;
  -webkit-box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.2);
}

.home .pricing .pricing-cards .single-card h1 span {
  font-size: 2rem;
}

.home .pricing .pricing-cards .single-card .monthly {
  margin-bottom: 1rem;
}

.home .pricing .pricing-cards .single-card .card-striked-text {
  margin-bottom: 3rem;
}

.home .pricing .pricing-cards .single-card.active {
  overflow: hidden;
  background-color: #e9edf0;
  -webkit-transform: scaleY(1.02);
          transform: scaleY(1.02);
}

.home .pricing .pricing-cards .single-card.active::after {
  position: absolute;
  content: "POPULAR";
  top: 1.5rem;
  left: -3.5rem;
  z-index: 5;
  background-color: #55be65;
  color: white;
  padding: 0.5rem 3rem;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  font-size: 1.4rem;
  font-weight: 500;
}

@media (min-width: 1024px) {
  .home .pricing .pricing-cards .single-card.active {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

.home .reviews {
  text-align: center;
  margin: 3rem 0;
  margin-bottom: 5rem;
  overflow-x: hidden;
  height: 60rem;
  width: 100%;
}

.home .reviews hr {
  margin-bottom: 3rem;
}

.home .reviews .review-flex {
  gap: 3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding: 1rem;
  overflow: hidden;
  position: relative;
}

.home .reviews .review-flex .positioning {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  padding: 1rem;
}

.home .reviews .review-flex .positioning.active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.home .reviews .review-flex .positioning .card {
  width: 100%;
  padding: 3rem 2rem;
  background-color: white;
  border-radius: 1rem;
  -webkit-box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.5);
}

.home .reviews .review-flex .positioning .card h1 {
  color: #55be65;
}

.home .reviews .review-flex .positioning .card p {
  padding: 1rem;
}

.home .reviews .review-flex .positioning .card .rating {
  color: #55be65;
  padding: 1rem;
}

.home .reviews .review-flex .positioning .card .rating span {
  margin: 0.2rem;
}

.home .reviews .review-flex .positioning .card .avatar {
  max-width: 20rem;
  width: 15rem;
  padding: 2rem;
  margin: 0 auto;
}

.home .reviews .review-flex .positioning .card .avatar img {
  width: 90%;
  -o-object-fit: contain;
     object-fit: contain;
}

.home .reviews .review-flex .positioning .card h3 {
  font-weight: 500;
}

@media (min-width: 768px) {
  .home .reviews .review-flex .card {
    min-width: 30rem;
    width: 25%;
    max-width: 45%;
    padding: 3rem 2rem;
  }
}

@media (min-width: 1024px) {
  .home .reviews {
    height: auto;
  }
  .home .reviews .review-flex {
    overflow-x: scroll;
  }
  .home .reviews .review-flex .positioning {
    position: initial;
    width: 35%;
    height: 100%;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transition: none;
    transition: none;
    padding: 1rem;
  }
  .home .reviews .review-flex .positioning .card {
    width: 100%;
    max-width: 30%;
    padding: 3rem 2rem;
  }
}

.home .client-carousels {
  background-color: #f4f5f7;
  padding: 2rem 0;
}

.home .client-carousels h1 {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
}

.home .client-carousels hr {
  margin-bottom: 5rem;
}

.home .client-carousels .clients {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.home .client-carousels .clients .client {
  display: -ms-grid;
  display: grid;
  place-items: center;
  background-color: #fff;
  width: 20rem;
  height: 12rem;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  border-radius: 1rem;
  cursor: pointer;
  -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
}

.home .client-carousels .clients .client img {
  width: 10rem;
  -o-object-fit: contain;
     object-fit: contain;
}

.home .client-carousels .clients .client:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.back-to-top {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 1000;
  padding: 1rem;
  background-color: #55be65;
  color: white;
  border: transparent;
  font-size: 2rem;
  cursor: pointer;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.back-to-top:hover {
  opacity: 0.75;
}

.footers {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: footers;
  background-color: #003133;
  color: white;
  padding: 4rem 2rem;
}

.footers .footer-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footers .footer-layout p {
  color: rgba(207, 207, 207, 0.966);
}

.footers .footer-layout h1 {
  color: white;
  font-size: 2.5rem;
}

.footers .footer-layout img {
  width: 12.5rem;
  -o-object-fit: contain;
     object-fit: contain;
}

.footers .footer-layout .col-4 {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  padding: 0 1rem;
}

.footers .footer-layout ul li {
  margin: 1.5rem 0;
  color: rgba(226, 226, 226, 0.966);
}

.footers .footer-layout ul li a {
  color: rgba(207, 207, 207, 0.966);
}

.footers .footer-layout h3 {
  color: rgba(226, 226, 226, 0.966);
  margin-bottom: 0.5rem;
}

.footers .footer-layout .contact-1 {
  margin-bottom: 1rem;
}

@media (max-width: 1023px) {
  .footers .footer-layout .col-4 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

@media (max-width: 765px) {
  .footers .footer-layout {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 2rem 0;
    text-align: center;
  }
  .footers .footer-layout .col-4 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}
/*# sourceMappingURL=index.css.map */